h1 {
  text-align: center;
  background-image: url("../img/beach_above.jpeg");
  background-size: cover;
  color: black;
  line-height: 100px;
  margin-bottom: 0;
  text-decoration: none;
}
.links {
  text-align:center;
  word-spacing: 50px;
  font-size: 100%;
  border: solid white 1px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 50px;
}
body {
  text-shadow: 1px 1px 8px #00ffff;
  font-family: sans-serif;
  background-image: url("../img/water.jpeg");
}
p {
  font-size: 110%;
  color: black;
  border: solid rgba(255,255,255,0) 50px;
  background-color: rgba(255,255,255,0.75);
  margin-top: 0;
}
a {
  color: black;
}
a:hover {
  color: #0000ff;
}
ul  {
  color: black;
  margin-top: 0;
  border: solid rgba(255,255,255,0) 50px;
  background-color: rgba(255,255,255,0.75);
}
h4   {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  border: solid rgba(255,255,255,0) 50px;
  background-color: rgba(255,255,255,0.75);
}
